{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'jays_app/css/index.css' %}">

<div class='header'>
    <h2>Toronto Blue Jays Stats App</h2>
</div>

<ul class='nav'>
    <li><a href="/jays/">Home</a></li>
    <li><a href="/jays/teams/">Teams</a></li>
    <li><a href="/jays/roster/">Rosters</a></li>
    <li><a href="/jays/players">Players</a></li>
    <li><a class="active" href="/jays/about">About Me</a></li>
</ul>

<div class='intro'>
    <h2 class='title'>About Me</h2>
    <p>
        I chose to complete task one for my Blue Jays analytics application since the requirements are most similar to the application outlined in my resume, and I wanted to showcase the style and functionality of my web design.
        <br><br>
        My original application was built using Angular, so my experience developing this application for Django was very enjoyable, especially because of the API resources that were provided. I am extremely interested in viewing real MLB data, and creatively displaying that information in a modern web page view was a fun challenge.
        <br><br>
        Now that I have access to these resources, I am enthusiastic about scaling my project to include all three tasks in my web application. 
        <br><br>
        I would appreciate any feedback you may have for my current application, and would be very excited for the opportunity to develop any new feature requests.
        <br><br>
        Thank you for your time in viewing my application.
        <br>
    </p>
    <h3 class='title'>Craig Cook</h3>
</div>


