{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'jays_app/css/roster.css' %}">

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("roster");
        switching = true;
        dir = "asc"; 
        while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                shouldSwitch= true;
                break;
            }
            } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
            }
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount ++;      
        } else {
            if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
            }
        }
        }
    }
</script>

<div class='header'>
    <h2>Toronto Blue Jays Stats App</h2>
</div>

<ul class='nav'>
    <li><a href="/">Home</a></li>
    <li><a href="/teams/">Teams</a></li>
    <li><a class="active" href="/roster/">Rosters</a></li>
    <li><a href="/players">Players</a></li>
    <li><a href="/about">About Me</a></li>
</ul>

<div class='roster-table'>
    <h2 class='title'>{{teamData.teams.0.name}}</h2>
    <table id="roster">
        <tr>
            <th onclick="sortTable(0)">Jersey #</th>
            <th onclick="sortTable(1)">Player Name</th>
            <th onclick="sortTable(2)">Position</th>
            <th>Player Stats</th>
        </tr>  
        {% for r in roster.roster %}
        <tr>
            {% if r.jerseyNumber.1 %}
                <td>{{ r.jerseyNumber }}</td>
            {% elif r.jerseyNumber.0 %}
                <td>0{{ r.jerseyNumber }}</td>
            {% endif %}
            <td>{{ r.person.fullName }}</td>
            <td>{{r.position.name}} ({{r.position.abbreviation}})</td>
            <td><a href="/players/{{ r.person.id }}/">here</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
