{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'jays_app/css/roster.css' %}">

<div class='header'>
    <h2>Toronto Blue Jays Stats App</h2>
</div>

<ul class='nav'>
    <li><a href="/jays/">Home</a></li>
    <li><a href="/jays/teams/">Teams</a></li>
    <li><a class="active" href="/jays/roster/">Rosters</a></li>
    <li><a href="/jays/players">Players</a></li>
    <li><a href="/jays/about">About Me</a></li>
</ul>

<div class='roster-table'>
    <h2 class='title'>{{teamData.teams.0.name}}</h2>
    <table id="roster">
        <tr>
            <th>Jersey</th>
            <th>Player Name</th>
            <th>Position</th>
        </tr>  
        {% for r in roster.roster %}
        <tr>
            <td>#{{r.jerseyNumber}}</td>
            <td><a href="/jays/players/{{ r.person.id }}/">{{ r.person.fullName }}</a></td>
            <td>{{r.position.name}} ({{r.position.abbreviation}})</td>
        </tr>
        {% endfor %}
    </table>
</div>
