{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'jays_app/css/players.css' %}">

<div class='header'>
    <h2>Toronto Blue Jays Stats App</h2>
</div>

<ul class='nav'>
    <li><a href="/jays/">Home</a></li>
    <li><a href="/jays/teams/">Teams</a></li>
    <li><a href="/jays/roster/">Rosters</a></li>
    <li><a href="/jays/players">Players</a></li>
    <li><a href="/jays/about">About Me</a></li>
</ul>
<br>
<br>
Please select a team from the Team's page to view roster statistics.
